<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework/Event/etc/events.xsd">
    <event name="sales_quote_remove_item">
        <observer name="remove_case_when_phone_removed" instance="Produweb\CartDependency\Observer\RemoveCaseWhenPhoneRemoved" />
    </event>
</config>
